<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>RegistryWrite</display-name>
    <servlet-name>RegistryWrite</servlet-name>
    <servlet-class>programLibraries.controllers.RegistryWrite</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistryWrite</servlet-name>
    <url-pattern>/programLibraries/RegistryWrite</url-pattern>
  </servlet-mapping>
  <display-name>FinalProyect</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RegistryClear</display-name>
    <servlet-name>RegistryClear</servlet-name>
    <servlet-class>programLibraries.controllers.RegistryClear</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistryClear</servlet-name>
    <url-pattern>/programLibraries/RegistryClear</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoadCards</display-name>
    <servlet-name>LoadCards</servlet-name>
    <servlet-class>programLibraries.controllers.LoadCards</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadCards</servlet-name>
    <url-pattern>/programLibraries/LoadCards</url-pattern>
  </servlet-mapping>
</web-app>